<% provide(:title, "#{@department.deptSubject}") %>

<h1><%= @department.deptFullName %></h1>

<h2>Department Goals</h2>
<table>
    <% @deptgoals.each do |goal| %>
      <tr>
        <td><%= goal.goalNum %></td>
        <td><%= goal.goalText %></td>
        <td><%= link_to 'Show', [goal.department, goal] %></td>
      </tr>
    <% end %>
</table>

<h2>Department Courses</h2>
<table>
    <% @courses.each do |course| %>
      <tr>
        <td><%= "#{@department.deptCode}#{course.courseCode}-#{course.courseSection}" %></td>
        <td><%= course.courseTitle %></td>
        <td><%= link_to 'Show', [course.department, course] %></td>
      </tr>
    <% end %>
</table>

<%= link_to 'Back', departments_path %>
