<%= form_with(model: instgoal, local: true) do |form| %>
  <% if instgoal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instgoal.errors.count, "error") %> prohibited this instgoal from being saved:</h2>

      <ul>
      <% instgoal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :goalNum %>
    <%= form.number_field :goalNum %>
  </div>

  <div class="field">
    <%= form.label :goalText %>
    <%= form.text_area :goalText %>
  </div>

  <div class="field">
    <%= form.label :goalDetails %>
    <%= form.text_field :goalDetails %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
