<% provide(:title, "Institutional Goal #{@instgoal.goalNum}") %>

<h1>Institutional Goal <%= @instgoal.goalNum %></h1>

<h2><%= @instgoal.goalText %></h2>

<p>
  <strong>Goal Details:</strong>
  <%= @instgoal.goalDetails %>
</p>

<h2>Departments with goals corresponding to this one</h2>
<table>
    <% @deptgoals.each do |goal| %>
      <tr>
        <td><%= goal.department.deptSubject %></td>
        <td><%= goal.goalText %></td>
        <td><%= link_to 'Show', goal.department %></td>
      </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_instgoal_path(@instgoal) %> |
<%= link_to 'Back', instgoals_path %>
