<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Grinnell Assessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/cmx3oww.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':
        'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Grinnell College Assesment</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><%= link_to "Institutional Goals", instgoals_path %> </li>
      <li><%= link_to "Department Goals", departments_path %> </li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
    </nav>
     <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 main"> <%= yield %></div>
  <div class="col-sm-2"></div>
</div>
  </body>
</html>
